{% extends 'base.html' %}

{% block title %}
Adding an article
{% endblock %}

{% block body %}
<div class="container">
    <h1>Adding an article</h1>
    <form action="/create-article" method="post" enctype="multipart/form-data">
        <input type="text" name="title" id="Title" placeholder="Title" class="form-control"> <br>
        <textarea name="intro" id="intro" placeholder="Intro" class="form-control"></textarea>  <br>      
        <textarea name="text" id="text" placeholder="..." class="form-control"></textarea>  <br>
        <input type="file" name="picture" class="form-control-file" accept="image/*"> <br>
        <input type="submit" class="btn btn-success btn-send" value="Send">  
    </form>
</div>
{% endblock %}
